.debug {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events:none;
  background-color: white;
}

.debug-icon.icon {
  width: 32px;
  height: 32px;
}

.debug-icon {
  fill: white;
}

.inverted {
  fill: black;
}