extends ../layouts/game-page.jade

block content
  #paused.paused-layer
  #canvas.canvas
    #input.input
  #overlay.overlay
    .icons

append scripts
  script(src="/ensemble/js/" + deviceMode + ".min.js")
  script(src="/game/js/client/common.min.js")
  script(src="/game/js/client/" + saveMode + ".min.js")