extends ../layouts/non-game-page.pug

block title
  title #{game.name}

block content
  include ../partials/logo.pug
  h1 #{game.name}
  div
    a(href='modes').button New Game
  div
    a(href='/players/' + locals.player.id + '/saves').button Load Game

append scripts
  script(src="/ensemble/js/util/anchor-post-form.js")