h1 The INCH Framework
p
  You are seeing this because the gamedev has not create their own index page. If you want your own index page create: /game/views/pages/index.jade. The server is setup to look in the game folder first and fall back to the pre-packaged files i.e. this one.