=info
=warning
=error
h1 #{game.name}
H2 Welcome
h2 Enter the secret code to join this game
form(id="the-form", method=join.method, action=join.uri)
  input(name="secret", value="" placeholder="Tell me a secret...")
  a#form-action #{join.name}

script(src="/ensemble/js/util/anchor-post-form.js")