h1 #{name}
p The ensemblejs framework generates this page. If you want your own splash page then you create an saves.jade in your /game/views/pages/ folder. The framework will defer to that folder first and fallback to pre-packaged files.
H2 Welcome
p #{player.name}
h2 Continue A Game
p You have the following saves in progress
ul
  each link in links
    li
      a(href="#{link.uri}") #{link.name}