include ../partials/links.jade

h1 #{game.name}
p The ensemblejs framework generates this page. If you want your own splash page then you create an saves.jade in your /game/views/pages/ folder. The framework will defer to that folder first and fallback to pre-packaged files.
H2 Welcome
h2 Continue A Game
p You have the following saves in progress
ul
  each save in saves.length ? saves : ['You have no saved games.']
    li
      +makeLink(save)