extends ../layouts/non-game-page.pug

block title
  title #{game.name}

block content
  .call-to-action
    .label Select device mode
  .group
    each link in links
      a.box(href=link.uri)
        img(src=link.icon)
        .label
          span #{link.label}