extends ../layouts/non-game-page.pug

block title
  title #{game.name}

block content
  .call-to-action
    .label Select device mode
  .group
    each deviceMode in deviceModes
      a.box(href=deviceMode.uri)
        img(src=deviceMode.icon)
        .label
          h2 #{deviceMode.label}