#share.modal
  .close.icon
    img(src="/ensemble/images/site/close.svg", data-action="close-share")
  .call-to-action
    Play with friends.
  #qrcode
  script(src="/ensemble/js/3rd-party/qrcode.js")
  script(src="/ensemble/js/util/generate-qrcode.js", data-url=url)