#share.modal
  .header
    h1 Add player
  .contents
    .qr
      #qrcode
      p.label Scan the QR code to join the game.
  .options
    .one-option
      .tap-pulse
      .tap-button(data-action='close-share')
        .label ►