include ../partials/links.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/ensemble/css/normalize.min.css")
    link(rel="stylesheet", href="/ensemble/css/ensemble.min.css")
    include ../partials/favicon.pug
    block title
      title ensemblejs
  body
    =info
    =warning
    =error
    block content
    block scripts