include ../partials/links.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,user-scalable=no")
    link(rel="stylesheet", href="/ensemble/css/normalize.min.css")
    link(rel="stylesheet", href="/ensemble/css/ensemble.min.css")
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

    include ../partials/favicon.pug
    block title
      title ensemblejs
  body
    =info
    =warning
    =error
    block content
    block scripts