include ../partials/links.jade

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/ensemble/css/normalize.min.css")
    block title
      title ensemblejs
  body
    block content
    block scripts