$dashboard-title-text-colour: #808080;
$dashboard-value-text-colour: #000;
$dashboard-border-colour: #000;

@mixin reset-spacing {
  padding: 0;
  margin: 0;

  line-height: 1em;
}

@mixin flex-children {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

@mixin dashboard-border {
  box-sizing: border-box;

  border: 1px solid $dashboard-border-colour;
  border-radius: 4px;
}

@mixin dashboard-tiny-text {
  .title { font-size: 12pt; }
  .value { font-size: 20pt; }
}

@mixin dashboard-small-text {
  .title { font-size: 14pt; }
  .value { font-size: 20pt; }
}

@mixin dashboard-medium-text {
  .title { font-size: 36pt; }
  .value { font-size: 72pt; }
}

@mixin dashboard {
  @include flex-children;
  @include reset-spacing;

  p {
    @include reset-spacing;
    color: $dashboard-title-text-colour;
    font-weight: normal;
  }

  .title {
    margin-top: 5px;
  }

  .value {
    color: $dashboard-value-text-colour;
    font-weight: bold;

    margin: auto;
  }

  .frame-square-small {
    @include flex-children;

    height: 150px;
    width: 150px;
  }

  .frame-rect-medium {
    @include flex-children;

    height: 150px;
    width: 300px;
  }

  .frame-square-medium {
    @include flex-children;

    height: 300px;
    width: 300px;
  }

  .widget {
    @include dashboard-border;
    @include reset-spacing;

    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    margin: 2.5px;
    overflow: hidden;
    text-align: center;
  }

  .widget-square-tiny {
    @include dashboard-tiny-text;

    height: 70px;
    width: 70px;
  }

  .widget-square-tiny-solo {
    @include dashboard-tiny-text;

    height: 70px;
    width: 70px;

    .title {
      font-size: 14pt;
      margin: auto;
    }
  }

  .widget-rect-small {
    @include dashboard-tiny-text;

    height: 70px;
    width: 145px;
  }

  .widget-rect-small-flipped {
    @include dashboard-tiny-text;

    height: 70px;
    width: 145px;

    .title {
      margin-bottom: 5px;
      margin-top: 0;
    }
  }

  .widget-square-small {
    @include dashboard-small-text;

    height: 145px;
    width: 145px;

    .value { margin-top: 25px; }
  }

  .widget-square-medium {
    @include dashboard-medium-text;

    height: 295px;
    width: 295px;
  }

  .widget-rect-medium {
    @include dashboard-small-text;

    height: 145px;
    width: 295px;
  }
}

.overlay {
  @include dashboard;
}

.debug {
  @include dashboard;
}
