$background-color: #4A4A4A;

body {
  background-color: $background-color;
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html:full-screen {
  background-color: #222 !important;
}

.canvas {
  margin: 0 auto;
  z-index: -99999;
}

.left {
  bottom: 0;
  left: 0;
  position: fixed;
}

.right {
  bottom: 0;
  position: fixed;
  right: 0;
}

.pressed { background-color: #000 !important; }


.icons {
  z-index: 99999;

  img {
    height: 32px;
    margin: 0;
    padding: 0;
    width: 32px;
  }

  p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .icon {
    position: fixed;
  }
}

.paused-layer {
  background-color: rgba(128, 128, 128, .5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.input {
  margin: 0 auto;
  position: absolute;
  vertical-align: baseline;
  z-index: 9999;
}

.start-hidden {
  display: none;
}


$accent-color: #7ED321;
$accent-color-light: #B8E986;
$button-text: #4A4A4A;
$button-text-hover: #4A90E2;

p {
  font-family: helvetica;
  color: white;

  margin: 0;
}

.content {
  width: 40%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .game-info {
    margin-top: 5%;
    flex: 0;

    img {
      width: 64px;
      height: 64px;
    }

    .title {
      font-size: 20px;
      font-weight: 100;
    }
  }

  .game-full {
    flex: 1;
    align-self: center;

    img {
      margin-top: 5%;
      width: 200px;
      height: 200px;
      filter: drop-shadow(0 2px 5px #000)
    }

    #svg-full {
      color: #9B9B9B;
    }

    .primary-message {
      font-size: 72px;
      font-weight: 900;
      color: $accent-color;
    }

    .secondary-message {
      font-size: 20px;
      font-weight: 100;
    }

    .button {
      margin-top: 10%;
      user-select:none;

      a.call-to-action {
        border: 1px solid;
        border-radius: 8px;
        padding: 6px 12px;

        color: $button-text;
        font-size: 20px;

        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

        text-decoration: none;

        background-color: $accent-color-light;
        transition-duration: 0.2s;
      }

      a:hover.call-to-action {
        background-color: darken($accent-color-light, 20%);
      }

      a:active.call-to-action {
        background-color: darken($accent-color-light, 30%);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
      }
    }
  }

  .credits {
    margin-bottom: 5%;
    flex: 0;

    text-align: center;

    img {
      width: 64px;
      height: 64px;
    }
  }
}